* {
  padding: 0;
  margin: 0;
}

body {
  background: hsla(205, 90%, 53%, 0.968);
  margin: 0;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: centre; */
  align-items: center;
  text-align: center;
}

.Head-container {
  /* display: grid; */
  /* gap: 1rem; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 300px repeat(2, 1fr); */
  /* justify-items: center; */
}
.img4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  text-align: center;
}
.img2 {
  grid-column-start: 1;
  text-align: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 90px 1fr;
}
.img3 {
  grid-column-start: 4;
  text-align: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 90px 1fr;
}
.add_sign {
  background-color: rgb(251, 77, 77);
  color: white;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
}
.add_sign:hover {
  cursor: pointer;
}
.add_sign:active {
  background-color: rgb(178, 47, 47);
  color: white;
}
.latest-post {
  height: fit-content + 500px;
  width: 650px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 1fr;
  background-color: aqua;
  border: 1px solid black;
}
.nav-panel-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-start: 2;
  grid-row-start: 2;
  /* box-sizing: border-box; */
}
.nav-panel {
  width: fit-content;
  min-width: 400px;
  margin: 10px 10px;
  height: fit-content;
  min-height: 300px;
  text-align: center;
  background-color: rgb(185, 234, 233);
  /* position: relative; */
  /* top: 25%; */
  border: 2px solid rgb(19, 87, 97);
  border-radius: 10px;
  /* box-sizing: border-box; */
}
/* nav panel decoration */

.nav-panel ul {
  list-style: none;
  list-style: inside;
}

/* nav panel decoration */
.lost-found-item-container {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
}
.lost-found-item {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 15px 15px;
}
.lost-found-item:hover {
  background-color: pink;
}
.item-img {
  border: 1.5px solid white;
}
.item-description {
  margin-left: 10px;
  border: 1.5px solid white;
  display: inline-block;
  width: 100%;
}

a:hover {
  border: 1px solid rgb(131, 200, 227);
}

a:action {
  color: none;
}

a:visited {
  color: none;
}
/* main-header with iith logo link */
.website-home img {
  object-fit: contain;
  float: left;
  /* margin-top: 1px; */
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  background-color: #333;
  /* position: relative; */
}

.website-home h1 {
  display: absolute;
  width: 500px;
  color: white;
  text-decoration: solid;
}
/* lost post navigation bar */

#main-header {
  background-color: #333;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  padding-top: 12px;
  position: relative;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#navbar a {
  background-color: #333;
  text-decoration: none;
  color: rgb(182, 162, 15);
  font-size: 30px;
  padding: 5px 5px;
  border: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 70px;
  left: 10px;
}
