.Head-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px repeat(2,1fr);
}
.img4{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}
.img2{
    grid-column-start: 1;
    text-align: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 90px 1fr;
}
.img3{
    grid-column-start: 3;
    text-align: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 90px 1fr;
}
.add_sign{
    background-color: rgb(251, 77, 77);
    color: white;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
}
.add_sign:hover{
    cursor: pointer;
}
.add_sign:active{
    background-color: rgb(178, 47, 47);
    color: white;
}
.latest-post{
    height: 800px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 1fr;
    background-color: aqua;
    border: 1px solid black;
}
.nav-panel{
    width: auto;
    height: fit-content;
    background-color: pink;
    border: 1px solid black;
    border-radius: 2px;
    grid-column-start: 2;
    grid-row-start: 2;
}