.Logo-part{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.IITH-logo{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}
.page-logo{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: 0;
    height: 100px;
}

.UI-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.Found-logo{
    border: 1px solid black;
    position: absolute;
    display: block;
    left: 10%;
    right: 50%;
    top: 300px;
    text-align: center;
}
.Lost-logo{
    border: 1px solid black;
    position: absolute;
    display: block;
    left: 50%;
    right: 10%;
    top: 300px;
    text-align: center;
}